<div id="slide-profil">
      <div class="container bla">
        <div class="row">
          <div class="col-12 head-profil">
            <div class="profil-picture">
              <%= image_tag @user.avatar_thumbnail, alt: "Mon image", width: 180, height: 180, id: "profil-img" %>
            </div>
            <h3 id="name"><%= @user.firstname + " " + @user.lastname %></h3>
          </div>
        </div>
      
        <div class="row">
          <div class="col-lg-6 col-12 bot-profil bot-profil-left">
            <h4 class="text-center mt-3 title-profil">Description</h4>
              <% if @user == current_user %>
                <% if @user.description == nil %>
                  <p id="description"><%= link_to "Add a description", edit_user_registration_path, class: "buzz" %></p>
                <% else %>
                  <p id="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, eius rem, a at blanditiis reprehenderit facere error, facilis similique est nostrum mollitia? Commodi culpa expedita officia, totam ducimus assumenda soluta.</p>
                <% end %>
              <% else %>
                <p id="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, eius rem, a at blanditiis reprehenderit facere error, facilis similique est nostrum mollitia? Commodi culpa expedita officia, totam ducimus assumenda soluta.</p>
              <% end %>
          </div>

          <div class="col-lg-6 col-12 bot-profil">
            <h4 class="text-center mt-3 title-profil">Informations</h4>
            <div class="row buzzi">
              <div class="col-6 bot-profil2">
                <p>Age: <%= @age %></p>
                <p>Sexe: homme</p>
                <p>Pays: <%= @user.country %></p>
              </div>
              <div class="col-6 bot-profil2">
                <p>Ville: <%= @user.city %></p>
                <p>Hobby: Foot, Cinéma</p>
                <p>Profession: <%= @user.profession %></p>
              </div>
              <% if current_user.id == params[:id].to_i %>
                <div class="w2-7"><p><%= link_to "Change informations", edit_user_registration_path, class: "buzz" %></p></div>
              <% end %>
            </div>



          </div>
        </div>
    </div>
</div>