<div class="container-index-event">
    <div class="d-flex search-form">
        <span class"">Filter by :</span>
        <%= form_tag(event_index_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :searchCategorie, params[:searchCategorie], id: 'search-bar', placeholder: "Catégorie" %>
            <%= text_field_tag :searchDate, params[:searchDate], class: 'datepicker-search', id: 'search-bar', placeholder: "Date" %>
            <button type="submit" class="submit-form"><i class="fas fa-search"></i></button>
        <% end %>
    </div>
    <div class="container">
        <% @events.each_with_index do |event, k| %>
            <div class="card">
                <div class="more-info-index-event" data-toggle="modal" data-target="#eventModal<%=event.id%>"><i class="fas fa-plus"></i></div>
                <div class="contentBx">
                    <h2><%= event.title %></h2>
                    <div class="date">
                        <h3><%= event.date.strftime("%A %d %B") %></h3>
                    </div>
                    <div class="horaire">
                        <h3><%= event.date.to_formatted_s(:time).gsub!(':', 'h')%></h3>
                    </div>
                    <% if User.find_by(id: event.user_id).id != current_user.id %>
                        <% if isAlreadyGuest(current_user, event) %>
                            <%= form_tag event_guest_path(event.id, Guest.find_by(event_id: event.id, name: current_user.firstname).id), method: "delete", class: 'form-subscrib' do %>
                                <%= submit_tag "Se désinscrire", class: 'btn-subscrib'%>
                            <% end %>
                        <% else %>
                            <%= form_tag event_guest_index_path(event.id), method: "post", class: 'form-unsuscrib' do %>
                                <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
                                <%= hidden_field_tag :admitted, 0 %>
                                <%= submit_tag "S'inscrire", class: 'btn-subscrib'%>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
                <%= render 'layouts/modal_events_all', event: event %>
            </div>
        <% end %>
    </div>
</div>