<% if user_signed_in? %>
      <div class="modal fade text-dark" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="text-center" id="exampleModalLongTitle">New event</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <%= form_for Event.new, url: url_for(controller: 'event', action: 'create') do |f| %>
              <div class="form-group">
                <%= f.text_field :title, placeholder: 'Choose a title', class: 'form-control', id: 'new-event-title'%>
              </div>
              <div class="form-group">
                <%= f.text_field :catégorie, placeholder: 'Choose a categorie', class: 'form-control', id: 'new-event-categorie'%>
              </div>

              <div class="form-group">
                <%= f.text_field :city, placeholder: 'Choose a city', class: 'form-control', id: 'new-event-city'%>
              </div>

              <div class="form-group">
                <%= f.text_field :description, placeholder: 'Write a description', class: 'form-control', id: 'new-event-description'%>
              </div>
              
              <div class="form-group d-flex justify-content-between">
                <div class="flatpickr">
                  <%= f.text_field :date, placeholder: 'select a date', class: 'datepicker' %>
                  <a class="input-button calendar-icon" title="toggle" data-toggle>
                    <i class="fas fa-calendar-alt"></i>
                  </a>
                </div>
                <div>
                  <%= f.label "Public" %>
                  <%= f.check_box :public, { checked: false }, true, false %> <br />
                </div>
              </div>

              <%= f.submit "Add", class: "btn btn-primary btn-block", id: "submit-event"%>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>