                <div class="modal fade" id="eventModal<%=event.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eventModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><%= event.title %></p>
                                <p><%= event.catégorie %></p>
                                <p><%= event.description %></p>
                                <p data-toggle="modal" data-target='#eventGuestModal<%=event.id%>'>Guests</p>
                            <% if User.find_by(id: event.user_id).id == current_user.id %>
                                <%= form_tag event_path(event.id), method: "delete", class: 'w4' do %>
                                    <%= submit_tag "Supprimer", class: 'btn-delete-guest'%>
                                <% end %>
                            <% elsif isAlreadyGuest(current_user, event) %>
                                <%= form_tag event_guest_path(event.id, Guest.find_by(event_id: event.id, name: current_user.firstname).id), method: "delete", class: 'w4' do %>
                                    <%= submit_tag "Se désinscrire", class: 'btn-unsubscribed-guest'%>
                                <% end %>
                            <% else %>
                                <%= form_tag event_guest_index_path(event.id), method: "post", class: 'w4' do %>
                                    <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
                                    <%= submit_tag "S'inscrire", class: 'btn-add-guest'%>
                                <% end %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                </div>