<div class="devise-container">
  <div class="log-in-container">
    <h1 class="text-center">Sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field field1">
        <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", placeholder: 'firstname' %>
      </div>

      <div class="field field1">
        <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", placeholder: 'lastname' %>
      </div>
      
      <div class="field field1">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
      </div>

      <div class="field field1">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'password ' + @minimum_password_length.to_s + " characters minimum" %>
      </div>

      <div class="field field1">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'confirm password' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
      
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>